.skills-svg{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    .skill-desc{
        position: absolute;
        bottom: 0;
        top: 100px;
        transition: all 0.7s ease;
        opacity: 0;
        h3{
            color: black;
            font-weight: 900;

        }
    }
    .skill-desc-animation{
        animation: fade-in 1.5s ease;
        animation-fill-mode: forwards;
    }

}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

