.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo{
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 5px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.navbar{
    ul{
        display: flex;
        gap: 0.7rem;

        li{
            cursor: pointer;
            font-weight: 600;
        }
    }
}
.burger-menu-svg{
    display: none;
}

.closed{
    display: none !important;
}
.closed-burguer-1{
    animation: rect1-animation 0.5s ease forwards;
    transform-origin: left;
    transform-box: fill-box;
}
.closed-burguer-2{
    opacity: 0;
}
.closed-burguer-3{
    animation: rect3-animation 0.5s ease forwards;
    transform-origin: left;
    transform-box: fill-box;
}

.open{
    display: flex;
    animation: menu 0.5s ease;
    transform-origin: right;
}
.burger-menu-svg-open{
    position: absolute;
    top: 0;
    right: 0;
    padding: 60px 20px;
    z-index: 999;
}
@keyframes menu{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);

    }
}
@keyframes rect1-animation{
    0%{
        transform: rotate(0) translateX(0);
        
    }
    100%{
        transform: rotate(45deg) translateY(-10px);
        
    }
}
@keyframes rect3-animation{
    0%{
        transform: rotate(0) translateX(0);
        
    }
    100%{
        transform: rotate(-45deg) translateY(10px);

    }
}





@media (max-width: 600px) {

    .header{
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        min-height: 100vh;
        width: 50%;
        display: grid;
        padding: 20px;
        gap: 2rem;
        align-content: flex-start;
        background-color: var(--background);
        border-left: 1px solid var(--text-primary);
        z-index: 99;
    }
    .navbar{
        ul{
            display: grid;
            margin-top: 5rem;
            a{
                border-bottom: 1px solid var(--text-primary);

            }
        }
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burger-menu-svg{
        display: flex;
        width: auto;
        z-index: 999;
    }

  }