.aboutMe-svg{
    position: relative;
    display: grid;
    grid-template-columns: minmax(300px,500px);
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    
    svg{
        width: 100%;
    }
}
.top-cloud{
    opacity: 0;

}
.bottom-cloud{
    opacity: 0;
}
.top-cloud-animation{
    animation: topcloudsin ease 1.5s;
    animation-fill-mode: forwards;
}
.bottom-cloud-animation{
    animation: bottomcloudsin ease 1.5s;
    animation-fill-mode: forwards;
}
.top-cloud-animation-out{
    animation: topcloudsout ease 1.5s;
    animation-fill-mode: forwards;
    
}
.bottom-cloud-animation-out{
    animation: bottomcloudsout ease 1.5s;
    animation-fill-mode: forwards;
}

@keyframes bottomcloudsin{
    0%{
        display: flex;
        transform: translateX(-30px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    
    }
}

@keyframes topcloudsin{
    0%{
        display: flex;
        transform: translateX(70px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    
    }
}
@keyframes bottomcloudsout{
    0%{
        display: flex;
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-30px);
    
    }
}

@keyframes topcloudsout{
    0%{
        display: flex;
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(70px);
    
    }
}


@media (max-width: 850px) {
    .aboutMe-svg{
        position: absolute;
        display: grid;
        grid-template-columns: minmax(200px,400px);
        height: 350px;
        top: 0;
        right: 0;

        
        svg{
            width: 100%;
        }
    }

  }
  @media (max-width: 990px) {
    .aboutMe-svg{

    }

  }
  @media (max-width: 600px) {
    .aboutMe-svg{
        display: none;

        svg{
            width: 100%;
        }
    }

  }