.skills{
    position: relative;
    display: flex;
    justify-content: space-between;
    color: black;
    &::before{
        background-color: var(--background-section);

    }
}
.skills-desc{
    position: relative;
    display: grid;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .skills{
        display: grid;
        grid-template-columns: 1fr;
        min-height: auto !important;
    }
    .skills-desc{
        grid-template-columns: 1fr;
        justify-content: flex-start;
        gap: 2rem;

    }
    .skill-play{
        display: flex;
        justify-content: center;

    }

  }
