.skills{
    display: grid;
    gap: 1rem;
}
.skills-desc{
    position: relative;
    display: grid;
}
.skill-play{
    display: flex;
    justify-content: center;

}
.skill-name{
    display: flex;
    justify-self: center;
    border: 1px solid var(--text-primary);
    height: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
    font-weight: 200 ;
    border-radius: 5px;
}

@media (max-width: 900px) {


  }
